.container{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
button{
    width: 100%;
    border-radius: 5px;
}
.bMain{
    background-color: aqua;
    width: 120px;
    padding: 10px;
    margin: 5px;
    border: none;
}
.bMain:hover{
    background-color: blue;
}
.bLogin{
    background-color: blanchedalmond;
    width: 120px;
    padding: 10px;
    margin: 5px;
    border: none;
}
.bLogin:hover{
    background-color: lawngreen;
}
.bMember{
    background-color: aquamarine;
    width: 120px;
    padding: 10px;
    margin: 5px;
    border: none;
}
.bMember:hover{
    background-color: blueviolet;
}